
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generic dotNET Core 3.1 | DMA guL WebPanel</title>
</head>
<body>
    <h1>
        Error: Unable to find URL to redirect to.
    </h1>
    <br />
    <p>
        Please check that the URL entered is correct.
    </p>
</body>
</html>
