@{
    ViewData["Title"] = "Reset Password";
}

<div class="form-block">
    <a class="back-btn d-flex justify-content-center align-items-center" asp-route="Login">
        <img src="images/arrow-left-icon.svg" alt="back">
    </a>
    <h1>Reset Password</h1>
    <div class="form-group">
        <label for="email">New Password <span class="req-mark">*</span></label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password here">
    </div>
    <div class="form-group">
        <label for="password">Confirm Password <span class="req-mark">*</span></label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Enter Confirm Password here">
    </div>
    <button type="button" class="theme-btn full-btn" id="ButtonLogin" onclick="ResetPassword()">Submit</button>
</div>

@section footer{
    <script>
        //#region onGet
        jQuery(document).ready(function () {
            var Email = document.getElementById("newPassword");
            Email.addEventListener("keydown", function (e) {
                if (e.keyCode === 13) {
                    ResetPassword();
                }
            });
            var Password = document.getElementById("confirmPassword");
            Password.addEventListener("keydown", function (e) {
                if (e.keyCode === 13) {
                    ResetPassword();
                }
            });
        })
        //#endregion

        //#region Login
        async function ResetPassword() {
            loader("true");
            if (document.getElementById("newPassword").value == "" && document.getElementById("confirmPassword").value == "") {
                document.getElementById("newPassword").focus();
                toast("error", "Please enter new password.");
            }
            else if (document.getElementById("newPassword").value == "") {
                document.getElementById("newPassword").focus();
                toast("error", "Please enter new password.");
            }
            else if (document.getElementById("confirmPassword").value == "") {
                document.getElementById("confirmPassword").focus();
                toast("error", "Please enter confirm password.");
            }
            else {
                var model = {
                    Password: $('#newPassword').val(),
                    ConfirmPassword: $('#confirmPassword').val(),
                    Token: getUrlParameter('token')
                }

                const url = rootUrl +"/Auth/ResetPassword";

                await doAjaxWithReturnUrl(url, model, "POST");

                loader("false");
            }
            loader("false");
        }
            //#endregion Login
    </script>
}